# 1. Variables

In [1]:
# Variables are created when you assign a value to it
x = 5
y = 'Hello World'

# Method to assign multiple variables
p, q, r = "Apples", "Bananas", "Coconuts"

# Assign same value to multiple variables
a = b = c = 'Python'


# Make the variable global
def myfunc():
    global x
    x = "fantastic"
    print(x)
    
# calling the myfunc
myfunc()

fantastic

# 2. Datatypes

In [2]:
# code to print the type of variable
ab = 5
print(type(ab)) # int

<class 'int'>

In [3]:
xy = ("apples", "bananas", "cherry")
print(type(xy)) # tuple

<class 'tuple'>

In [4]:
abb = {'name' : 'John', 'age' : '36'}
print(type(abb)) # dictionary

<class 'dict'>

# 3. Strings

In [5]:
# Get the characters from index 2 to 4
txt = " Hello World "
abcb = txt[2:5] # 2 is included while 5 is not

In [6]:
# return the string without any whitespaces at the beginning or at the end
print(txt.strip())

Hello World

In [7]:
# change the letters in upper case format
txt = " Hello World "
print(txt.upper())
print(txt.lower())

# replace a character H with a J
print(txt.replace("H", "J"))

 HELLO WORLD
 hello world
 Jello World

In [8]:
# Insert the correct syntax to add a placeholder for the age parameter
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

# 4. Booleans

In [9]:
print(10 > 9) # True

True

# 5. Operators

In [10]:
print(10 + 5) # 15
print(10 / 2) # 5 (float division)

15
5.0

# 6. Basic Data Structures
## 6.1 Lists

In [11]:
fruits = ["apple", "banana"]
if "apple" in fruits:
    print("Yes, apple is a fruit!")

Yes, apple is a fruit!

In [12]:
if 5 > 4 or 4 < 2:
    print("Your case is true.\n")

Your case is true.

In [13]:
# append() method to insert an element at the end of list
fruits = ["apple", "banana", "orange"]
print(fruits)

['apple', 'banana', 'orange']

In [14]:
# insert() method to add an element at the position of list
fruits.insert(1, "lemon") # insert at position 2nd position 
print(fruits)

['apple', 'lemon', 'banana', 'orange']

In [15]:
# remove method to remove an element
# fruits.remove("banana")
print(fruits)
print(len(fruits)) # number of items in the list

['apple', 'lemon', 'banana', 'orange']
4

## 6.1.1 Python has negative indexing.
Ex. list[-1] means last element of the list

## 6.2 Tuples

In [16]:
fruits = ("apple", "banana", "cherry")
print(fruits[0]) # apple
print(fruits[2]) # cherry

print(len(fruits)) # number of items in tuple fruits

apple
cherry
3

## 6.3 Set

In [17]:
# A set is given by variable assigning to elements in curly braces
fruits = {"apple", "banana", "cherry"}
if "apple" in fruits:
    print("Yes, apple is a fruit")
    
# adding an element
fruits.add("orange")
print(fruits)

Yes, apple is a fruit
{'banana', 'apple', 'orange', 'cherry'}

In [18]:
# Correct method to add multiple items (more_fruits) to the fruits set.
fruits = {"apple", "banana", "cherry"}
more_fruits = ["orange", "mango", "grapes"]

fruits.update(more_fruits)
print(fruits)

fruits.remove("banana")
print(fruits)

# You can also use the remove by using 'discard' method
# fruits.discard("banana")

{'orange', 'cherry', 'grapes', 'banana', 'apple', 'mango'}
{'orange', 'cherry', 'grapes', 'apple', 'mango'}

## 6.4 Dictionary

In [19]:
# example of a dictionary 
car = {
    "brand" : "Ford",
    "model" : "mustang",
    "year" : 1964
}

# using get method to get the model of car
print(car.get("model"))

# change the year value to 2020
car["year"] = 2020
print(car)

# add the key-value pair "color":"red" to the car dictionary
car["color"] = "red"
print(car)

# use the pop() method to remove "model" from the car dictionary
car.pop("model")
print(car)

# use the clear() method to empty the car dictionary
car.clear()
print(car)

mustang
{'brand': 'Ford', 'model': 'mustang', 'year': 2020}
{'brand': 'Ford', 'model': 'mustang', 'year': 2020, 'color': 'red'}
{'brand': 'Ford', 'year': 2020, 'color': 'red'}
{}

# 7. If..Else

In [20]:
# using if greater than
if 44 > 10 :
    print("hello")
if 12 != 30 :
    print("world")

hello
world

In [21]:
a = 2
b = 5
print("YES") if a == b else print("NO")

NO

# 8. Loops
## 8.1 While Loops

In [22]:
# Simple while loop
i = 1
while i < 6 : 
    print(i)
    i += 1

1
2
3
4
5

In [23]:
# Using break statement
i = 1
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [24]:
# Using continue statement
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [25]:
# Print the message once the condition is false
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

## 8.2 For Loops

In [26]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    
# Using continue in for loop
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
banana
cherry
apple
cherry

### 8.2.1 Using range() function to loop through a code set 6 times.

In [27]:
for x in range(6):
    print(x, end=" ")

0 1 2 3 4 5